button{
    margin: 5px;
}

.wrap{
    display: flex;
    flex-direction: column;
}

.counter{
    border: black solid 3px;
    border-radius: 15px;
    padding: 20px;
    margin-left: 50px;
}

.itemWrap{
    display: flex;
    column-gap: 100px;
}

.formsWrap{
    display: flex;
    column-gap: 40px;
}